# README
# Make sure you really understand how to modify this file https://help.github.com/en/articles/about-code-owners
# Common mistakes when defining code owners
# 1. Including spaces in path, will result on the whole CODEOWNERS file not working. example: /path/to/folder with spaces/a.txt
# 2. Using wildcard. /foo/bar/* will capture changes in /foo/bar/baz.txt but not in /foo/bar/baz/quux/something.txt
# 3. Forgetting to modify CODEOWNERS when modifying folder structure

# core
/ios/Tokopedia/AppDelegate.swift @tokopedia/ios-core-dev
/ios/Tokopedia/TokopediaWindow.swift @tokopedia/ios-core-dev
/ios/Modules/TokopediaKit/ @tokopedia/ios-core-dev
/ios/Widget/ @tokopedia/ios-core-dev
/ios/FoundationExtensions/ @tokopedia/ios-core-dev
/ios/UIKitExtensions @tokopedia/ios-core-dev
/fastlane/ @tokopedia/ios-core-dev
/.circleci/ @tokopedia/ios-core-dev
/.jenkinsfile/ @tokopedia/ios-joined-devops-dev
/.github/ @tokopedia/ios-core-dev
/ios/Tokopedia/Helper/ @tokopedia/ios-squad-leads
/ios/Tokopedia/Networking/ @tokopedia/ios-squad-leads
/ios/Tokopedia/Features/UIRefactor/TokopediaNetworkManager/ @tokopedia/ios-squad-leads
/ios/Tokopedia/Features/Main/ @tokopedia/ios-squad-leads
/ios/LegacyNetworking/ @tokopedia/ios-squad-leads
/ios/PushNotification/ServiceExtension/ @tokopedia/ios-core-dev
/ios/PushNotification/NotificationContent/ @tokopedia/ios-squad-leads
/ios/Submodules/ @tokopedia/ios-squad-leads
/ios/SharedUI @tokopedia/ios-uxe @tokopedia/ios-core-dev
/coverage @tokopedia/ios-core-dev
/ios/project.yml @tokopedia/ios-squad-leads
/ios/Podfile @tokopedia/ios-squad-leads
/ios/FormattingKit @tokopedia/ios-core-dev
/ios/TokopediaAnalytics @tokopedia/ios-core-dev
/ios/SharedResources @tokopedia/ios-core-dev
/ios/RxComposableArchitecture @tokopedia/ios-core-dev
/ios/TokopediaKeys @tokopedia/ios-core-dev
ios/UserSession/UserSession/UserSessionManager.swift @tokopedia/ios-core-dev
ios/Analytics @tokopedia/ios-core-dev
ios/Networking @tokopedia/ios-core-dev
/ios/.swiftlint.yml @tokopedia/ios-core-dev
/ios/base.yml @tokopedia/ios-core-dev
setup.sh @tokopedia/ios-core-dev
.bazelrc @tokopedia/ios-core-dev @wendyliga
WORKSPACE @tokopedia/ios-core-dev
/ios/SecureKeychain @tokopedia/ios-core-dev
/ios/SecureEnclaveCryptor @tokopedia/ios-core-dev
/ios/Tokopedia/BUILD @tokopedia/ios-core-dev @wendyliga

# script
/scripts/module-generator @tokopedia/ios-core-dev
/scripts/casper @tokopedia/ios-core-dev
/scripts/amano @tokopedia/ios-core-dev

# joker - features
/ios/Tokopedia/Features/Feed+/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/Notifications/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/Home/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/UIRefactor/Home/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/AnalyticsLogger/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/MyAccount/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/NotificationAction/ @tokopedia/ios-joker-dev
/ios/ProductDetails/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/NPS/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/DistrictRecomendation/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/TrackingOrder/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/ShippingRateEstimation/ @tokopedia/ios-joker-dev
/ios/Merchant/ @tokopedia/ios-joker-dev
/ios/Shop/ @tokopedia/ios-joker-dev
/ios/ShopPage/ @tokopedia/ios-joker-dev
/ios/ProductReview/ @tokopedia/ios-joker-dev
/ios/OfficialStore/ @tokopedia/ios-joker-dev
/ios/Variant/ @tokopedia/ios-joker-dev
/ios/Home @tokopedia/ios-joker-dev
/ios/Home/View/BelanjaPage @tokopedia/ios-joker-dev
/ios/Atlas/ @tokopedia/ios-core-dev
/ios/Catalog/ @tokopedia/ios-joker-dev
/ios/AgeRestriction/ @tokopedia/ios-joker-dev
/ios/TradeIn/ @tokopedia/ios-joker-dev
/ios/TradeInResources/ @tokopedia/ios-joker-dev
/ios/MoneyIn/ @tokopedia/ios-joker-dev
/ios/MoneyInResources/ @tokopedia/ios-joker-dev
/ios/Category/ @tokopedia/ios-joker-dev
/ios/MerchantVoucher/ @tokopedia/ios-joker-dev
/ios/OrderManagement/OrderManagement/ReduxSellerList/ @tokopedia/ios-joker-dev
/ios/OrderManagement/OrderManagement/ReduxSellerDetail/ @tokopedia/ios-joker-dev
/ios/TradeIn/TradeIn/TradeInIndoPaket/ @tokopedia/ios-joker-dev
/ios/TalkDiscussion @tokopedia/ios-joker-dev
/ios/Epharmacy @tokopedia/ios-joker-dev
/ios/TokoFood/ @tokopedia/ios-joker-dev
/ios/TokoNow/ @tokopedia/ios-joker-dev
/ios/TokoNowUI @tokopedia/ios-joker-dev

#superman - features
/ios/Affiliate/ @tokopedia/ios-superman-dev
/ios/AffiliateCookieService/ @tokopedia/ios-superman-dev
/ios/AnalyticsValidator/ @tokopedia/ios-superman-dev
/ios/ContentCreation/ @tokopedia/ios-superman-dev
/ios/ContentSharedComponent/ @tokopedia/ios-superman-dev
/ios/Feed/ @tokopedia/ios-superman-dev
/ios/FeedCommons/ @tokopedia/ios-superman-dev
/ios/FeedCreation/ @tokopedia/ios-superman-dev
/ios/FeedEditPost/ @tokopedia/ios-superman-dev
/ios/FeedEditPostInterface/ @tokopedia/ios-superman-dev
/ios/FeedMediaPicker/ @tokopedia/ios-superman-dev
/ios/FeedProfile/ @tokopedia/ios-superman-dev
/ios/PlayBroadcaster/ @tokopedia/ios-superman-dev
/ios/PlayInterface/ @tokopedia/ios-superman-dev
/ios/PlayRoom/ @tokopedia/ios-superman-dev
/ios/PlayUI/ @tokopedia/ios-superman-dev
/ios/ProductUI/ProductUI/NewCPMCard @tokopedia/ios-superman-dev
/ios/ProductUI/ProductUI/ProductActionBottomSheet/View/ProductActionBottomSheetViewModel.swift @tokopedia/ios-superman-dev
/ios/ProductUI/ProductUI/ProductCard/View/ProductCardBaseCellNode.swift @tokopedia/ios-superman-dev
/ios/ProductUI/ProductUITests/ProductCardTopadsImpressionTest.swift @tokopedia/ios-superman-dev
/ios/Profile/ @tokopedia/ios-superman-dev
/ios/SeamlessLogin/ @tokopedia/ios-superman-dev
/ios/ShortVideoCreation/ @tokopedia/ios-superman-dev
/ios/SuperBroadcaster/ @tokopedia/ios-superman-dev
/ios/SuperPlayer/ @tokopedia/ios-superman-dev
/ios/SuperSSE/ @tokopedia/ios-superman-dev
/ios/SuperValidator/ @tokopedia/ios-superman-dev
/ios/SwiftUIExtension/ @tokopedia/ios-superman-dev
/ios/ThirdParty/TextureSwiftSupport/ @tokopedia/ios-superman-dev
/ios/Tokopedia/Features/Affiliate/ @tokopedia/ios-superman-dev
/ios/YPImagePicker/ @tokopedia/ios-superman-dev

# catwoman - features
/ios/HomeToDoWidget/ @tokopedia/ios-catwoman-dev
/ios/InAppNotification/ @tokopedia/ios-catwoman-dev
/ios/PushNotification/ @tokopedia/ios-catwoman-dev
/ios/ShareKit/ @tokopedia/ios-catwoman-dev
/ios/SharingExperience/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/UIRefactor/Sales/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/OrderDetail/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/UIRefactor/ShopCoupon/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/UIRefactor/Transaction/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/UIRefactor/TxOrder/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/UIRefactor/ItemReplacement/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/DistrictRecomendation/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/TrackingOrder/ @tokopedia/ios-catwoman-dev
/ios/Tokopedia/Features/CampaignManagement/ @tokopedia/ios-catwoman-dev
/ios/TopChat/ @tokopedia/ios-catwoman-dev
/ios/TPImageNode/ @tokopedia/ios-catwoman-dev
/ios/GalleryPicker/ @tokopedia/ios-catwoman-dev
/ios/Uploadpedia/ @tokopedia/ios-catwoman-dev
/ios/UserNotification/ @tokopedia/ios-catwoman-dev

# batman - features
/ios/Tokopedia/Features/Chat/ @tokopedia/ios-joker-dev
/ios/Tokopedia/Features/UIRefactor/ShopPage/ @tokopedia/ios-joker-dev

# lex luthor - features
/ios/TokopediaIntent/ @tokopedia/ios-lexluthor-dev
/ios/TokopediaIntentUI/ @tokopedia/ios-lexluthor-dev
/ios/Tokopedia/whitelist.json/ @tokopedia/ios-lexluthor-dev
/ios/Digital @tokopedia/ios-lexluthor-dev
/ios/DigitalCheckoutService @tokopedia/ios-lexluthor-dev
/ios/DigitalCreditCard @tokopedia/ios-lexluthor-dev
/ios/DigitalEMoney/ @tokopedia/ios-lexluthor-dev
/ios/DigitalQuickBuyWidget/ @tokopedia/ios-lexluthor-dev
/ios/DigitalRecharge @tokopedia/ios-lexluthor-dev
/ios/DigitalVoucher @tokopedia/ios-lexluthor-dev
/ios/DigitalGeneralTemplate @tokopedia/ios-lexluthor-dev
/ios/DigitalSmartBillManagement @tokopedia/ios-lexluthor-dev
/ios/DigitalAnalytics @tokopedia/ios-lexluthor-dev
/ios/Dogfooding @tokopedia/ios-lexluthor-dev
/ios/RechargeInterface @tokopedia/ios-lexluthor-dev
/ios/HomeRecharge @tokopedia/ios-lexluthor-dev
/ios/RechargeHomeWidget @tokopedia/ios-lexluthor-dev
/ios/Umrah @tokopedia/ios-lexluthor-dev
/ios/Stickers @tokopedia/ios-lexluthor-dev
/ios/AddressLocalization @tokopedia/ios-lexluthor-dev
/ios/DistrictPicker @tokopedia/ios-lexluthor-dev
/ios/ShopLocationEditor @tokopedia/ios-lexluthor-dev
/ios/ShopShipmentEditor @tokopedia/ios-lexluthor-dev
/ios/ImageViewer @tokopedia/ios-lexluthor-dev
/ios/LogisticService @tokopedia/ios-lexluthor-dev
/ios/Tokopedia/AppDelegateWorkers/AtlantisViewController.swift @tokopedia/ios-lexluthor-dev
/ios/UserAddress/ @tokopedia/ios-lexluthor-dev
/ios/UserAddressExample/ @tokopedia/ios-lexluthor-dev
/ios/UserAddressResources/ @tokopedia/ios-lexluthor-dev
/ios/UserAddressTests/ @tokopedia/ios-lexluthor-dev
/ios/DigitalOrderManagement/ @tokopedia/ios-lexluthor-dev
/ios/MarketplaceOrderManagement/TrackingOrder* @tokopedia/ios-lexluthor-dev
/ios/MarketplaceOrderManagement/Tipping* @tokopedia/ios-lexluthor-dev
/ios/SiriKit @tokopedia/ios-lexluthor-dev
/ios/TokopediaWidget/EGoldWidget @tokopedia/ios-lexluthor-dev
/ios/DilayaniTokopediaHome @tokopedia/ios-lexluthor-dev
# hotel
/ios/Hotels/ @tokopedia/ios-lexluthor-dev
/ios/HotelsResources/ @tokopedia/ios-lexluthor-dev
/ios/HotelSharedUI/ @tokopedia/ios-lexluthor-dev
/ios/HotelSharedUIResources/ @tokopedia/ios-lexluthor-dev


# aquaman - features
/ios/OfficialStore/ @tokopedia/ios-aquaman-dev
/ios/SearchResult/ @tokopedia/ios-aquaman-dev
/ios/FilterSort/ @tokopedia/ios-aquaman-dev
/ios/SearchFilter/ @tokopedia/ios-aquaman-dev
/ios/ProductUI/ProductUI/ @tokopedia/ios-aquaman-dev
/ios/ProductUI/ProductUITests/ @tokopedia/ios-aquaman-dev
/ios/TPNavigation/ @tokopedia/ios-aquaman-dev
/ios/TPNavigationInterface/ @tokopedia/ios-aquaman-dev
/ios/HomeUI/ @tokopedia/ios-aquaman-dev
/ios/AQListKit/ @tokopedia/ios-aquaman-dev
/ios/CustomizableLayout/ @tokopedia/ios-aquaman-dev
/ios/DiffingInterface/ @tokopedia/ios-aquaman-dev
/ios/Recommendation/ @tokopedia/ios-aquaman-dev
/ios/SearchUI/ @tokopedia/ios-aquaman-dev
/ios/GlobalMenu/ @tokopedia/ios-aquaman-dev
/ios/ManageProduct/ @tokopedia/ios-joker-dev
/ios/ProductBundling/ @tokopedia/ios-joker-dev
/ios/ProductBundlingUI/ @tokopedia/ios-joker-dev

# whitewalkers - features
/ios/Gallery/ @tokopedia/ios-whitewalker-dev
/ios/OVOPayment/ @tokopedia/ios-whitewalker-dev
/ios/BankAccount/ @tokopedia/ios-whitewalker-dev
/ios/Saldo/ @tokopedia/ios-whitewalker-dev
/ios/Ovo/ @tokopedia/ios-whitewalker-dev
/ios/PaymentManagement/ @tokopedia/ios-whitewalker-dev
/ios/ThankYou/ @tokopedia/ios-whitewalker-dev
/ios/CreditCard/ @tokopedia/ios-whitewalker-dev
/ios/GoPayKYC/ @tokopedia/ios-whitewalker-dev
/ios/PaymentGeneral/ @tokopedia/ios-whitewalker-dev
/ios/PayLater/ @tokopedia/ios-whitewalker-dev
/ios/PayLaterHomeWidget/ @tokopedia/ios-whitewalker-dev

# nights watch - features
/ios/Gamification/ @tokopedia/ios-nightswatch-dev
/ios/GratificationEngine/ @tokopedia/ios-nightswatch-dev
/ios/ChatBot/ @tokopedia/ios-nightswatch-dev @tokopedia/ios-whitewalker-dev
/ios/Tokopoints/ @tokopedia/ios-nightswatch-dev
/ios/TokopointVoucher/ @tokopedia/ios-nightswatch-dev
/ios/GaladrialPromo/ @tokopedia/ios-nightswatch-dev
/ios/GaladrielMerchantVoucher/ @tokopedia/ios-joker-dev
/ios/QuestWidget/ @tokopedia/ios-nightswatch-dev
/ios/Flight/ @tokopedia/ios-nightswatch-dev

# asgardians - features
# discovery
/ios/Discovery/ @tokopedia/ios-asgardians
# deals & event
/ios/Events/Events/ @tokopedia/ios-asgardians
/ios/Events/EventsIntegrationTests/ @tokopedia/ios-asgardians
/ios/Events/EventsExample/ @tokopedia/ios-asgardians
/ios/Events/EventsTests/ @tokopedia/ios-asgardians
/ios/OrderManagement/OrderManagement/OrderDetailDealsAndEvents/ @tokopedia/ios-asgardians
# top ads
/ios/TopAdsCPM/ @tokopedia/ios-asgardians
/ios/TopAdsDisplayNetwork/ @tokopedia/ios-asgardians
/ios/TopAdsGoogleService/ @tokopedia/ios-asgardians
/ios/TopAdsDashboard/ @tokopedia/ios-asgardians
/ios/TopAdsIntegrationTests/ @tokopedia/ios-asgardians
/ios/TopAdsIntegrationUITests/ @tokopedia/ios-asgardians
/ios/TopAdsKLY/ @tokopedia/ios-asgardians
/ios/TopAdsTracking/ @tokopedia/ios-asgardians
/ios/TopAdsInterface/ @tokopedia/ios-asgardians
# user platform
/ios/KnowYourCustomer/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/KnowYourCustomerSharedComponents/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/KnowYourCustomerInterface/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/LimboLoggerInterface/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/MobileNet/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/InactivePhoneNumber/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/Scrambler/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/ShopPreferences/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/ThirdParty/AAILivenessSDK/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/TouchID/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/UserAccount/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/UserProfile/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/Account/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/BiometricsAuthentication/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/CryptoManager/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/LoginWidget/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/Logout/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/MobileNet/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/ATTService/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/COTP/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/ConsentPlatform/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/PrivacyCenter/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/TimeBasedCouponService/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev
/ios/TokopediaPlusWidget/ @tokopedia/ios-asgardians @tokopedia/ios-lexluthor-dev

# te ios - automation
/ios/TokopediaUITests/ @tokopedia/te-ios-dev
/ui-test-execution/default-blacklisted-ui-testcases.json @tokopedia/te-ios-dev
/uitest-slack/slackteam.json @tokopedia/te-ios-dev

# robin - features
/ios/PromoCheckout/ @tokopedia/ios-robin-dev
/ios/OneClickCheckout/ @tokopedia/ios-robin-dev
/ios/Cart/ @tokopedia/ios-robin-dev
/ios/Checkout/ @tokopedia/ios-robin-dev
/ios/OrderManagement/OrderManagement/Network/ @tokopedia/ios-robin-dev
/ios/OrderManagement/OrderManagement/OrderStatus/ @tokopedia/ios-robin-dev
/ios/OrderManagement/OrderManagement/OrderDetail/ @tokopedia/ios-robin-dev
/ios/OrderManagement/OrderManagement/OrderTab/ @tokopedia/ios-robin-dev
/ios/Report/ @tokopedia/ios-robin-dev
/ios/ReportExample/ @tokopedia/ios-robin-dev
/ios/ReportResources/ @tokopedia/ios-robin-dev
/ios/PinPoint/ @tokopedia/ios-robin-dev
/ios/BuyerOrderManagement/ @tokopedia/ios-robin-dev
/ios/MarketplaceOrderManagement/MarketplaceOrderManagement* @tokopedia/ios-robin-dev
/ios/GiftingSelection/ @tokopedia/ios-robin-dev
/ios/MiniCart/ @tokopedia/ios-robin-dev
/ios/WishlistTCA/ @tokopedia/ios-robin-dev
/ios/WishlistInterface/ @tokopedia/ios-robin-dev
/ios/WishlistService/ @tokopedia/ios-robin-dev
/ios/InvoiceOrderManagement/ @tokopedia/ios-robin-dev

# shazam / uxe - modules
# unifyIcon related folder
/ios/SharedUI/UnifyIcon/ @tokopedia/ios-uxe
/ios/SharedUI/SharedUI/IconNode/ @tokopedia/ios-uxe
